.section {
  padding-top: 40px;
  color: white;
  background-color: #0f172a;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.section::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
}

.heroTitle {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 0.8s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroSubTitle {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 200;
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 0.8s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #2e1065;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.funContainer {
max-width: 600px;
position: relative;
color: white;
padding: clamp(1em, 4em, 7em);
margin: 2em;
border-radius: 50px;

}

.funContainer::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #0f172a;
  border-radius: 50%;
 
}



